// - textForPar = "Lюtique не считает, что волосы должны быть короткими, длинными, вьющимися или прямыми. Единственная приоритетность для нас - это их здоровье! Ведь здоровые волосы - априори красивые волосы!))) <br> Вот поэтому наш шампунь на натуральной основе, обогащенной протеинами кератина, шелка кашемира, Д-пантенолом и молочной кислотой. Так вся шампуневая команда восстанавливает структуру повреждённых волос, насыщает ухаживающими компонентами, обеспечивает мягкость, гладкость, шелковистость, увлажнение, питание и защиту волос. Блеск, упругость и эластичность - разве не такой девиз красивых на вид и здоровых волос?!)))"

template(name="newsTemplate")
  .row
    .box
      .col-lg-12
        hr
        h2.intro-text.text-center клёво, когда можно
          strong вот так выделять
        hr
      .col-md-6
        img.img-responsive.img-border-left(src="img/news02_lg.jpg" alt="")
      .col-md-6
        p "Lюtique не считает, что волосы должны быть короткими, длинными, вьющимися или прямыми. Единственная приоритетность для нас - это их здоровье! Ведь здоровые волосы - априори красивые волосы!))) <br> Вот поэтому наш шампунь на натуральной основе, обогащенной протеинами кератина, шелка кашемира, Д-пантенолом и молочной кислотой. Так вся шампуневая команда восстанавливает структуру повреждённых волос, насыщает ухаживающими компонентами, обеспечивает мягкость, гладкость, шелковистость, увлажнение, питание и защиту волос. Блеск, упругость и эластичность - разве не такой девиз красивых на вид и здоровых волос?!)))"
