<template name = "footer">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">

        <!-- TO DO LIST -->
        <!-- MUST BE DELETED BEFORE DEPLOYMET -->
          <h3> --ToDo List--</h3>
          <ul>
            <li>Admin adding and deletion</li>
            <li>Cart script</li>
            <li>Cart count and dislay</li>
            <li>Goods collection</li>
            <li>Goods types</li>
            <li>Emails</li>
            <li>Reorganize images</li>
          </ul>
        <!-- END OF TO DO LIST -->

          <p>pnm.com.ua &copy; все права того этого 2015</p>
        </div>
      </div>
    </div>
  </footer>
</template>