<template name = "footer">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-11 text-center" style="margin: 30px">
          <div class="inline"><label>Ми в соціальних мережах:</label></div>
          <div class="inline" style="margin-left: 30px"><a href="http://vk.com/lyutique"><img src="img/vk.png" alt=""></a></div>
          <div class="inline" style="margin-left: 30px"><a href="http://vk.com/lyutique"><img src="img/facebook.png" alt=""></a></div>
          <div class="inline" style="margin-left: 30px"><a href="http://vk.com/lyutique"><img src="img/twitter.png" alt=""></a></div>
        </div>
      </div>
    </div>
  </footer>
</template>