template(name="about")
  .container
    .row
      .box
        .col-lg-12
          hr
          h2.intro-text.text-center трошки #[strong про нас]
          hr
        .col-md-6
          img.img-responsive.img-border-left(src="img/about.jpg" alt="")
        .col-md-6
          p Ми ліпимо, варимо, створюємо косметику на основі натуральних компонентів. А робимо ми це для того, щоб, заручившись підтримкою природи, доглянути за собою і за вами.
          p Ми докладаємо максимум зусиль, щоби цей догляд був бережним, дбайливим, ніжним і водночас дієвим. Повірте, косметика, збагачена натуральностями та корисностями, подарує вам можливість сяяти природною красою. Ми в цьому переконались. Адже ми не тестуємо свою косметику на тваринах – ми тестуємо її на собі.
        .clearfix

    .row
      .box
        .col-lg-12
          hr
          h2.intro-text.text-center наша #[strong команда]
          hr
        .col-sm-6.text-center
          img.img-responsive(src="img/masha.jpg" alt="")
          h3 Марія Ілистя #[small жінка-вогонь]
        .col-sm-6.text-center
          img.img-responsive(src="img/olya.jpg" alt="")
          h3 Ольга Корольова #[small теж жінка]
        .clearfix

    .row
      .box
        .col-lg-12
          hr
          h2.intro-text.text-center про нас #[strong говорять]
          hr

          p.brand-before.text-center Марина Пикульская
        .col-md-6
          img.img-responsive.img-border-left(src="img/vidguk.jpg" alt="")
        .col-md-6      
          p Дорогие создатели Lюtique!
          p Я горжусь тем, что стала одним из первых ваших клиентов, и теперь у меня есть временная фора: я начала пользоваться этой волшебной косметикой чуть раньше, чем многие-многие ваши клиенты (чего вам искренне желаю). Я буду на "недельку" всех красивее, свежее, более ухоженной, природной...
          p Хотя, первые мои мысли были куда более эгоистичными: спустя 3 дня во мне закралась мерзкая мыслишка никому не рассказывать о Lюtique, ведь это мой эликсир молодости и красоты, невероятная свежесть, насыщенность и упругость кожи!!
        .clearfix
        
        hr
        .row
          .col-lg-12
            p.brand-before.text-center Олена Шалена
          .col-md-6
            img.img-responsive.img-border-left(src="img/vidguk2.jpg" alt="")
          .col-md-6      
            p Сьогодні придбала кремчик для обличчя, зроблений за індивідуальними побажаннями. Хочу сказати, що я ВРАЖЕНА! Найперше, - упаковка. Такий милий пакуночок, симпатична баночка з бірочкою.. відчувається, що це зроблено з душею! Та й якщо брати на подарунок комусь - дуже гарно. Коли я відкрила баночку - запах моєї улюбленої лаванди... Наче вмілий парфумер додавав - не забаато і не замало - ідеально. Консистенція - як суфле. Дуже приємна. І найголовніше - зволоження... Це просто неперевершено! + розуміння того, що тут натуральні компоненти, та індивідуальний підхід.. Такого не купити в жодному Ватсонсі ні за які гроші.
            p Це те, що я шукала. І навіть більше:) Постійний клієнт вам гарантований:)
            p З нетерпінням чекаю на засоби для догляду за волоссям.
            p ДЯКУЮ!!
          .clearfix
       