template(name="adminPage")
  .container
    .row
      .box(style="height: 100px")
        .col-md-12
          unless validation
            label.someMargin#passLabel Будьте ласкаві ввести пароль
            input.someMargin#passInput
            button.btn.btn-default.someMargin#passBtn Вперед до налаштувать!

          else
            label.someMargin Чого пані бажає?
            select.someMargin#desireSelect
              option(value="0") 
              option(value="1") Додати новину
              option(value="2") Додати товар
              option(value="3") Видалити новину
              option(value="4") Видалити товар
              option(value="5") Любові...
            //- if desire=="0"
            //-   p 0
            

            


