//- template(name = "shop")
//-   .container
//-     .box
//-       .row
//-         .col-md-4
//-           a(href="{{pathFor 'lipsEyes'}}")
//-             img.img-responsive.img-border-left(src="{{lipsEyesImg}}" alt="" width="100%")
//-           h2.intro-text.text-center для #[strong губ, вій та брів]
//-         .col-md-4
//-           a(href="{{pathFor 'handsLegs'}}")
//-             img.img-responsive.img-border-left(src="{{handsLegsImg}}" alt="" width="100%")
//-           h2.intro-text.text-center для #[strong рук, ніжок .col-md-4]
//-         .col-md-4
//-           a(href="{{pathFor 'handsLegs'}}")
//-             img.img-responsive.img-border-left(src="{{handsLegsImg}}" alt="" width="100%")
//-           h2.intro-text.text-center для #[strong рук, ніжок та нігтів]
//-         