template(name="carousel")
  .carousel.slide(id="carousel-example-generic")
    
              //- <!-- Indicators -->
    ol.carousel-indicators.hidden-xs
      li.active(data-target="#carousel-example-generic" data-slide-to="0")
      li(data-target="#carousel-example-generic" data-slide-to="1")
      li(data-target="#carousel-example-generic" data-slide-to="2")
      li(data-target="#carousel-example-generic" data-slide-to="3")

        //- <!-- Wrapper for slides -->
    .carousel-inner
      .item.active
        img.img-responsive.img-full(src="img/slide01.jpg" alt="")
      .item
        img.img-responsive.img-full(src="img/slide03.jpg" alt="")
      .item
        img.img-responsive.img-full(src="img/slide02.jpg" alt="")
      .item
        img.img-responsive.img-full(src="img/slide04.jpg" alt="")
        
        //- <!-- Controls -->
    a.left.carousel-control(href="#carousel-example-generic" data-slide="prev")
      span.icon-prev

    a.right.carousel-control(href="#carousel-example-generic" data-slide="next")
      span.icon-next
