template(name="newsTemplate")
  .row
    .box
      .col-lg-12
        hr
        h2.intro-text.text-center #{this.titlePlain} #[strong #{this.titleStrong}]
        hr
      .col-md-6
        img.img-responsive.img-border-left(src="img/#{this.image}" alt="")
      .col-md-6
        each this.text
          p #{this.paragraph}
