
template(name="newsTemplate")
  .row
    .box
      .col-lg-12
        hr
        h2.intro-text.text-center #{this.name}
        hr
      .col-md-6
        img.img-responsive.img-border-left(src="#{this.img_src}" alt="")
      .col-md-6
        p #{this.text}
