<template name = "indexTemplate">
    
  <div class="container">

  {{> frontpage}}
    
    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <hr>
          <h2 class="intro-text text-center">какой-то текст
            <strong>про что-то прикольное</strong>
          </h2>
          <hr>
        </div>
        <div class="col-md-6">
          <img class="img-responsive img-border-left" src="img/news01_lg.jpg" alt="">
        </div>
        <div class="col-md-6">
          <p>По спецзаказу для нашей требовательной, но очень любимой @Юли Окопной мы смастерили мыло незатейливой формы и божественным ароматом!) в нем виднеется пудра зеленого чая, нутовая пудра, зелёная глина. Также мы подсыпали в него крахмал (для нежной, бархатистой текстуры) и подлили масла оливы (для питательности и сытности))) 
            Наш "Мойдодыр" внушительных размеров, так что он будет делится с вами сказкой очень-очень долго)))
          Шар 200 грамм - 98 грн.</p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <hr>
          <h2 class="intro-text text-center">клёво, когда можно
            <strong>вот так выделять</strong>
          </h2>
          <hr>
        </div>
        <div class="col-md-6">
          <img class="img-responsive img-border-left" src="img/news02_lg.jpg" alt="">
        </div>
        <div class="col-md-6">
          <p>Lюtique не считает, что волосы должны быть короткими, длинными, вьющимися или прямыми. Единственная приоритетность для нас - это их здоровье! Ведь здоровые волосы - априори красивые волосы!)))
          Вот поэтому наш шампунь на натуральной основе, обогащенной протеинами кератина, шелка кашемира, Д-пантенолом и молочной кислотой. Так вся шампуневая команда восстанавливает структуру повреждённых волос, насыщает ухаживающими компонентами, обеспечивает мягкость, гладкость, шелковистость, увлажнение, питание и защиту волос. Блеск, упругость и эластичность - разве не такой девиз красивых на вид и здоровых волос?!)))</p>
        </div>
      </div>
    </div>
    
  </div>
  
</template>
