
template(name="navbar")
  nav.navbar.navbar-default(role="navigation")
    .container
      .navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#lyutique-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.navbar-brand(href="index.html") Lyutique

      .collapse.navbar-collapse(id="lyutique-navbar-collapse-1")
        ul.nav.navbar-nav
          li.nav-a
            a(href="index.html") головна
          li.dropdown.nav-a
            a(href="shop.html") магазин
            ul.sub-menu
                li
                  a(href="soul.html") <small>для</small> душі
                li
                  a(href="soul.html") <small>для</small> тіла
                li
                  a(href="soul.html") <small>для</small> волосся
          li.nav-a
            a(href="about.html") про нас
          li.nav-a
            a(href="contact.html") контакти
          li
            div
            a(href="#")
              img.img-cart(src="img/cart2.png" alt="")
    