template(name="imagesForGoods")
  img.img-responsive.img-border-left(src="#{firstImage}" alt="" width="100%" id="#{firstImage}")
  br
  each images
    .col-sm-6
      img.img-responsive.img-border-left(src="#{this.img}" alt="" width="100%" id="#{this.img}")
      br
  