template(name="modalCartSuccess")
  .modal.fade
    .modal-dialog(style="width:50%")
      .modal-content(style="width: 100%")
        .modal-body(style="height: 90%")
          .grid(style="height:100%; overflow: auto")
            h2 Ваше замовлення прийнято!
            p Ми зв'яжемось із Вами найближчим часом.
            p Якщо Ви вказали електронну адресу, на неї було відправлено лист із детальним описом Вашого замовлення.
            p Дякуємо за увагу до нашого магазину і хорошо Вам дня!
          .clearfix
        .modal-footer
          .col-lg-12.text-center
            button.btn.btn-default Закрити це вікно