template(name="modalCartRefuse")
  .modal.fade
    .modal-dialog(style="width:50%")
      .modal-content(style="width: 100%")
        .modal-body(style="height: 90%")
          .grid(style="height:100%; overflow: auto")
            h2 Помилочка...
            p Нажаль ми не змогли обробити Ваше замовлення. Це могло статись з наступних причин:
            ul
              li Ви не обрали жодного товару
              li Ви не заповнили поля помічені зірочкою
            p Якщо Вам не складно, чи не могли б Ви закрити дане вікно і виправити ці непорозуміння.
          .clearfix
        .modal-footer
          .col-lg-12.text-center
            button.btn.btn-default Закрити це вікно і спробувати ще раз