template(name="addNews")
  .news-forms
    //- form(action="handler.php" enctype="multipart/form-data" method="post")
    //-   p Загрузите файл с картинкой
    //-   p
    //-     input(type="file" name="pic")
    

    .quickform-news
      +quickForm(collection="News" id="insertNews" type="insert")
