template(name="addNews")
  .form(style="width: 90%")
    +quickForm(collection="News" id="insertNews" type="insert")


  //- .row.title-admin
  //-   .col-md-6(style="text-align: right")
  //-     label Заголовок новини (звичана частина)
  //-   .col-md-6(style="text-align: left")
  //-     input#an-title(style="width: 250px")

  //- .row.title-admin
  //-   .col-md-6(style="text-align: right")
  //-     label Заголовок новини (жирна частина)
  //-   .col-md-6(style="text-align: left")
  //-     input#an-strong(style="width: 250px")

  //- .row.title-admin
  //-   .col-md-6(style="text-align: right")
  //-     label Назва зображення
  //-   .col-md-6(style="text-align: left")
  //-     input#an-img(style="width: 250px")

  //- .row.text-admin
  //-   .col-md-6(style="text-align: right")
  //-     label Опис новини
  //-   .col-md-6(style="text-align: left")
  //-     textarea#an-text(style="hight: 60px; width: 250px")

  //- hr(style="width: 50%; text-align:center")
  //- .row
  //-   .btns-admin.col-md-12
  //-     button.btn.btn-primary Додати #[strong новину]
