template(name="adminPage")
  .container
    .row
      .box(style="height: 2000px; overflow-y: auto")
        .col-lg-12(style="text-align:center")
          {{> loginButtons}}
        .col-lg-12(style="text-align:center")
          unless validation
            label.someMargin#passLabel Будьте ласкаві ввести пароль
            input.someMargin#passInput
            button.btn.btn-default.someMargin#passBtn Вперед до налаштувать!

          else
            .row
              .col-md-6(style="text-align: right")
                label Чого пані бажає?
              .col-md-6(style="text-align: left")
                select#desireSelect
                  option(value="0") (оберіть)
                  option(value="1") Додати зображення
                  option(value="2") Додати новину
                  option(value="3") Додати товар
                  option(value="4") Видалити новину
                  option(value="5") Видалити товар
                  option(value="6") Любові...

            hr(style="width: 50%; text-align:center")
            .col-md-8.col-md-offset-2.forms(style = "width: 70%; text-align: center")
              if desireAddImage
                {{> uploadFiles}}
              if desireAddNews
                {{> addNews}}
              if desireAddGoods
                {{> addGoods}}
              if desireDelNews
                {{> deleteNews}}
              if desireDelGoods
                {{> deleteGoods}}
              if desireDelGoods
                {{> giveLove}}
            

            


