template(name="adminPage")
  .container
    .row
      .box(style="height: 2000px; overflow-y: auto")
        .col-lg-12.text-center
          {{> loginButtons}}
          hr
          unless validation
            label.someMargin#passLabel Будьте ласкаві ввести пароль
            input.someMargin#passInput
            button.btn.btn-default.someMargin#passBtn Вперед до налаштувать!

          else
            .row
              .col-md-6.text-right
                label Чого пані бажає?
              .col-md-6.text-left
                select#desireSelect
                  option(value="0") (оберіть)
                  option(value="1") Додати зображення
                  option(value="2") Додати новину
                  option(value="3") Додати товар
                  option(value="4") Любові...

            hr.text-center(style="width: 50%")
            .col-md-8.col-md-offset-2.forms.text-center(style = "width: 70%")
              if desireAddImage
                {{> uploadFiles}}
              if desireAddNews
                {{> addNews}}
              if desireAddGoods
                {{> addGoods}}
              if desireDelGoods
                {{> giveLove}}
            

            


